{
  "plugins": [
    "cypress"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "cy": false,
    "Cypress": false,
    "describe": false,
    "context": false,
    "beforeEach": false,
    "afterEach": false,
    "it": false,
    "assert": false,
    "expect": false,
    "on": false,
    "config": false
  }
}